* {
  font-family: "Work Sans", sans-serif;
}
body{
  background-color: rgba(0, 184, 148,1.0);
}
.app{
  .search{
    margin-top: 15vh;
    color: rgba(223, 230, 233,1.0);
    text-align: center;
    #sbox{
      font-size: 1.5em;
      min-width: 350px;
      height: 75px;
      text-align: center;
      background-color: rgba(0, 184, 148,.0);
      border: none;
      border-bottom: white 3px solid;
      color: rgba(223, 230, 233,1.0);
    }
    #sbut{
      color: rgba(223, 230, 233,1.0);
      margin-top: 15px;
      background-color: rgba(0, 184, 148,.0);
      width: 150px;
      height: 75px;
      border: 3px solid white;
    }
    #sbut:active{
      background-color: rgba(223, 230, 233,.4);
    }
  }
  .data{
    text-align: center;
  }
  .lcn{
    color: white;
  }
  .dbox{
    color: rgba(223, 230, 233,1.0);
    display: inline-block;
    width: 150px;
    .h1{
      font-size: 1.6em;
    }
  }
}
